body {background: linear-gradient(45deg,#36d1dc,#5b86e5);}
.login {animation: slide 1s; background:white;padding:30px;border-radius:15px;}
@keyframes slide {from{transform:translateY(-100px);} to{transform:0;}}